*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
#parent{
white-space: nowrap;
overflow-x: auto;
}
h1{
    font-weight: 900;
    text-transform: uppercase;
    font-size: 110px;
    -webkit-text-stroke: 2px rgba(1, 0, 0, 0.884);
    color: transparent;
    display: inline-block;
    margin-right: 25px;
    padding: 12px;
animation-name: anime;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-timing-function:linear ;
animation-direction: reverse;

}
#parent::-webkit-scrollbar-thumb{
  color: black;
    border-radius: 20px;
    
}
@keyframes anime {
    from{
        left: 0;
        transform: translateX(0);
    }
    to{
    left: 75%;
        transform: translateX(calc( 100% - 29px))    }
    
}
#parent::-webkit-scrollbar{
    display: none;

}